/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

	@import url(http://fonts.googleapis.com/css?family=Open+Sans);
	
	// Colors
		$background: #F2F2F0;
		$lightgray: #D9DADB;
		$gray: #AAAFB3;
		$darkgray: #5C5F72;
		$orange: #EF6754;
		$blue: #98D1D0;
		$teal: #1F7299;
		
		
 	// General Styling 

	// Positioning 
		.center{
			margin: 0 auto;
			max-width: 970px;
		}
		
	// Text Styling
		a {
			color: teal;
			text-decoration: none;
			font-weight: 600;
		}
		a:hover{
			color: teal;
		}
		a:active{
			color: teal;
		}
		
		.center-text{
			text-align: center;
		}
	
	// Application-wide Elements
		body{
			margin: 0px;
			font-family: 'Open-Sans', sans-serif; 
			font-size: 14px;
			background: $background;
			color: $darkgray;
		}
		
		.content{
			margin-top: 30px;
			margin-bottom: 30px;
		}
		
		.alert{
			-webkit-border-radius: 3px; 
			-moz-border-radius: 3px; 
			border-radius: 3px;
			padding: 10px 15px;
			background: rgba(158, 190, 166, 0.3);
			border-color: rgba(158, 190, 166, 0.6);
			color: #555;
		}
		
		.alert-error{
			border:solid 1px $gray;
			background: rgba(214, 76, 42, 0.3);
			border-color: rgba(214, 76, 42, 0.6);
		}
		
		.highlight-box{
			background: white;
			border: 1px solid $lightgray;
			padding: 20px 50px;
			
			hr.long{
				margin: 0px -50px;
			}
		}
		
		hr{
			border-top: 0px solid white;
			border-bottom: 1px solid $lightgray;
		}
	
		div.navigation{
			margin: 0px;
			padding-top: 10px;
			height: 140px;
			-moz-box-shadow:    inset 0 1px white;
			-webkit-box-shadow: inset 0 1px white;
			box-shadow:         inset 0 1px white;
			
			div.logo {
				display: inline-block;
			}
			
			div.right_logo {
			  display: inline-block;
			  width: 800px;
			  height: 90px;
			  float: right;
			  position: relative;
			}
			
			ul.links{
				float: right;
				list-style: none;
				margin: 0px;
				padding: 0px;
				position: relative;
				display: inline-table;
				height: 90px;
				
				li{
					float:left;
					display: block;
					vertical-align: bottom;
					color: $darkgray;
					text-decoration: none;
					text-transform: uppercase;
					width: 160px;
					border-bottom: 5px solid black;
					font-size: 14px;
					line-height: 30px;
					font-weight: 600;
					height: 30px;
					padding-top: 60px;
				}
				
				li:hover > ul{
					display: block;
				}
				
				li a {
					display: block;
					color: $darkgray;
					text-decoration: none;
				}
				
				.hoverable:hover{
					  color: black;
				}
				
				#lightgray{
				  border-color: $lightgray;
				}
				#gray{
				  border-color: $gray;
				}
				#darkgray{
				  border-color: $darkgray;
				}
				#blue{
				  border-color: $blue;
				}
				#orange{
				  border-color: $orange;
				}
				
				li:hover a {
					color: black;
				}
				
				ul.hover-dropdown{
					display: none;
					background: white;
					padding: 0px;
					position: absolute;
					top: 100%;
					border: 1px solid $lightgray;
					-moz-box-shadow:    1px 1px 2px 1px #DDDDDD;
					-webkit-box-shadow: 1px 1px 2px 1px #DDDDDD;
					box-shadow:         1px 1px 2px 1px #DDDDDD;
					
					li{
						float: none;
						border-top: 1px solid #EEEEEE;
						border-bottom: 1px solid #CCCCCC;
						position: relative;
						text-transform: none;
						line-height: 30px;
						padding: 0px;
						font-weight: normal;
					}
					
					li a{
						color: $darkgray;
						padding: 0 20px;
					}
					
					li a:hover{
						color: black;
						background: #D8D8D8;
					}
					
				}
			}
			ul.links:after{
				content: ""; clear: both; display: block;
			}
		}
		
		div.content{
			min-height: 400px;
		}
		
		div.bottom{
			border-top: 1px solid $lightgray;
			background: white;
			padding: 20px;
			font-size: 12px;
		}
		
		.thumbnail{
		  display: inline-block;
	    width: 229px;
	    padding: 15px;
		  
		  img{
		    padding: 7px;
		    border: 1px solid $lightgray;
		    background: white;
		    margin: 0px;
		    display: block;
		  }
		  
		  .shadow{
		    background: none;
		    border: none;
		    padding: 0px;
		  }
		  
		  h3{
		    text-align: center;
		    margin-top: 0px;
		    
		    a{
		      font-weight: 600;
		      font-size: 14px;
		      color: $darkgray;
		      text-transform: uppercase;
		    }
		  }
		}
		
		.form{
			margin: 20px 0px;
			.control-group{
				margin: 20px 0px;
				label{
					text-transform: uppercase;
					font-weight: 600;
					font-size: 14px;
				}
				.controls{
					.text_field{
						font-size: 14px;
						padding: 5px;
						-webkit-border-radius: 3px; 
						-moz-border-radius: 3px; 
						border-radius: 3px;
						border:solid 1px $lightgray;
					}
					.text_area{
						
					}
				}
			}
		}
		
		input.btn{
			font-size: 16px;
			padding: 4px 12px;
			text-align: center;
			vertical-align: middle;
		}
		
		.user-img{
		  border-radius: 5px;
		}