/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

	@import url(http://fonts.googleapis.com/css?family=Open+Sans);
	@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
	
	// Colors
		$lightgray: #E5E4DC;
		$gray: #C4C2B5;
		$dark: #111111;
		
 	// General Styling 

	// Positioning 
		.center{
			margin: 0 auto;
			max-width: 970px;
		}
		
	// Text Styling
		a {
			color: blue;
			text-decoration: none;
			font-weight: 600;
		}
		a:hover{
			color: red;
		}
		a:active{
			color: purple;
		}
		
		.center-text{
			text-align: center;
		}
	
	// Application-wide Elements
		body{
			margin: 0px;
			font-family: 'Open-Sans', sans-serif; 
			font-size: 14px;
			background: $lightgray;
		}
		
		.content{
			margin-top: 30px;
			margin-bottom: 30px;
		}
		
		.alert{
			-webkit-border-radius: 3px; 
			-moz-border-radius: 3px; 
			border-radius: 3px;
			padding: 10px 15px;
			background: rgba(158, 190, 166, 0.3);
			border-color: rgba(158, 190, 166, 0.6);
			color: #555;
		}
		
		.alert-error{
			border:solid 1px $gray;
			background: rgba(214, 76, 42, 0.3);
			border-color: rgba(214, 76, 42, 0.6);
		}
		
		.highlight-box{
			background: $lightgray;
			border: 1px solid $gray;
			padding: 20px 50px;
			
			hr.long{
				margin: 0px -50px;
			}
		}
		
		hr{
			border-top: 0px solid white;
			border-bottom: 1px solid $gray;
		}
	
		div.navigation{
			margin: 0px;
			padding: 0px;
			height: 50px;
			background: $lightgray;
			border-bottom: solid 1px $gray;
			-moz-box-shadow:    inset 0 1px white;
			-webkit-box-shadow: inset 0 1px white;
			box-shadow:         inset 0 1px white;
			
			div.logo {
				display: inline-block;
				line-height: 50px;
				font-size: 28px;
				font-family: 'Fjalla One';
					a {
						color: $dark;
					}
			}
			div.search-bar{
				display: inline-block;
			}
			ul.links{
				float: right;
				list-style: none;
				margin: 0px;
				position: relative;
				display: inline-table;
				height: 51px;
				
				li{
					float:left;
					display: block;
					vertical-align: middle;
					color: $dark;
					text-decoration: none;
					text-transform: uppercase;
					padding: 0 20px;
					font-size: 14px;
					line-height: 50px;
					font-weight: 600;
					border-right: 1px solid $lightgray;
					border-left: 1px solid $lightgray;
				}
				
				li:hover > ul{
					display: block;
				}
				
				li a {
					display: block;
					color: $dark;
					text-decoration: none;
				}
				
				li:hover {
					color: black;
					background: #D8D8D8;
					border-color: $gray;
				}
				
				li:hover a {
					color: black;
				}
				
				ul.hover-dropdown{
					display: none;
					background: $lightgray;
					padding: 0px;
					position: absolute;
					top: 100%;
					border: 1px solid $gray;
					-moz-box-shadow:    1px 1px 2px 1px #DDDDDD;
					-webkit-box-shadow: 1px 1px 2px 1px #DDDDDD;
					box-shadow:         1px 1px 2px 1px #DDDDDD;
					
					li{
						float: none;
						border-top: 1px solid #EEEEEE;
						border-bottom: 1px solid #CCCCCC;
						position: relative;
						text-transform: none;
						line-height: 30px;
						padding: 0px;
						font-weight: normal;
					}
					
					li a{
						color: $dark;
						padding: 0 20px;
					}
					
					li a:hover{
						color: black;
						background: #D8D8D8;
					}
					
				}
			}
			ul.links:after{
				content: ""; clear: both; display: block;
			}
		}
		
		div.content{
			min-height: 400px;
		}
		
		div.bottom{
			border-top: 1px solid $gray;
			background: white;
			padding: 20px;
			font-size: 12px;
		}
		
		.form{
			margin: 20px 0px;
			.control-group{
				margin: 20px 0px;
				label{
					text-transform: uppercase;
					font-weight: 600;
					font-size: 14px;
				}
				.controls{
					.text_field{
						font-size: 14px;
						padding: 5px;
						-webkit-border-radius: 3px; 
						-moz-border-radius: 3px; 
						border-radius: 3px;
						border:solid 1px $gray;
					}
					.text_area{
						
					}
				}
			}
		}
		
		input.btn{
			font-size: 16px;
			padding: 4px 12px;
			text-align: center;
			vertical-align: middle;
		}