// Place all the styles related to the trip controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Colors
	$background: #F2F2F0;
	$lightgray: #D9DADB;
	$gray: #AAAFB3;
	$darkgray: #5C5F72;
	$orange: #EF6754;
	$blue: #98D1D0;
	$teal: #64A59F;

.trips{  
  #map_details{
    display:none;
  }
  
  #map_canvas{
    margin-top: 10px;
    width: 970px;
  }
  
  #trip_map{
    width: 970px;
    height: 600px;
  }
    
  h1 {
    margin: 10px 0px;
    font-size: 30px;
  }
  
  .day-display{
    background: white;
    border: 1px solid $lightgray;
    margin-top: 10px;
    
    .day-header{
      width: 230px;
      height: 100px;
      display: inline-block;
      text-align: center;
      border-right: 1px solid $lightgray;
      padding: 10px;
      
      .day-title{
        font-size: 22px;
      }
      .day-date{
        margin: 10px;
      }
    }
    .day-details{
      vertical-align: top;
      width:690px;
      height: 100px;
      padding: 10px;
      display: inline-block;
    }
  }
  
  .long-shadow{
    display: block;
    background: none;
    border: none;
    padding: 0px;
    height: 7px;
    width: 970px;
  }
  
  .activity-display{
    background: white;
    border: 1px solid $lightgray;
    margin-top: 10px;
    
    .activity-header{
      width: 230px;
      height: 100px;
      display: inline-block;
      text-align: center;
      border-right: 1px solid $lightgray;
      padding: 10px;
      
      .activity-title{
        font-size: 18px;
      }
      .activity-date{
        margin: 10px;
      }
    }
    .activity-details{
      vertical-align: top;
      width:690px;
      height: 100px;
      padding: 10px;
      display: inline-block;
      
      .detail-link{
        color: $darkgray;
        font-weight: normal;
        display: inline-block;
        font-style: italic;
      }
      
       .detail-link:hover{
         color: black;
      }
      
      .detail-content{
        margin: 0px 0px 10px 0px;
      }
    }
  }
  
  .info-header{
    
    .side{
      height: 197px;
      display: inline-block;
      border-left: 1px solid $lightgray;
      vertical-align: top;
      margin-left: 20px;
      padding-left: 15px;
      
      a{
        text-transform: uppercase;
        color: $orange;
        font-size: 14px;
        font-weight: 600;
        display: block;
        margin: 10px 0px;
      }
    }
    
    #trip_image{
      margin: 0px;
      vertical-align: top;
    }
  
    #trip-details{
      width: 555px;
      display: inline-block;
      margin: 0px;
      padding: 0px;
    
      .detail{
        width: 135px;
        display: inline-block;
      
        .detail-label{
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          color: $teal;
          margin: 5px 0px;
        }
      
        .detail-content{
          font-size: 18px;
          font-weight: bold;
          margin: 5px 0px;
        }
      }
    
      .detail-long{
        width: 550px;
        margin-bottom: 15px;
      
        .detail-label{
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          color: $teal;
          margin: 5px 0px;
        }
      
        .detail-content{
          font-size: 14px;
          margin: 5px 0px;
        
          span{
            font-weight: 600;
            margin: 0px 20px 0px 0px;
          }
        }
      }
    }
  }
}